@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root {
  --bgColor: #222327;
  --arrowWidth: min(15%, 50px);
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgColor);
  height: calc(100vh - 2rem);
}

.slider-wrapper {
  display: grid;
  grid-template-rows: 1fr 30px;
  grid-template-columns: var(--arrowWidth) 1fr var(--arrowWidth);
  gap: 1rem;
  width: min(95%, 600px);
  align-self: stretch;
}

.slider-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-wrapper > .image-wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 1500ms ease-out;
}

ion-icon {
  font-size: 2.5rem;
  color: orange;
}

.nav-circles-wrapper {
  grid-column: 1 / -1;
  gap: 0.5rem;
}

.nav-circle,
.arrow {
  opacity: 0.4;
}

div.active {
  opacity: 1;
}

.nav-circle {
  border-radius: 50%;
  background: white;
  padding: 0.3rem;
}

.nav-circle.active {
  background: orange;
}

.arrow {
  align-self: center;
}

.arrow.active:hover {
  opacity: 0.7;
}
